<section>
  <div class="page-header">
    <h1 ng-bind="vm.<%= camelizedSingularName %>.name"></h1>
  </div>
  <div class="pull-right"
       ng-show="vm.<%= camelizedSingularName %>.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="<%= camelizedPluralName %>.edit({ <%= camelizedSingularName %>Id: vm.<%= camelizedSingularName %>._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.<%= camelizedSingularName %>.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.<%= camelizedSingularName %>.user"
            ng-bind="vm.<%= camelizedSingularName %>.user.displayName"></span>
      <span ng-if="!vm.<%= camelizedSingularName %>.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.<%= camelizedSingularName %>.content"></p>
</section>
