<section data-ng-controller="<%= classifiedPluralName %>Controller" data-ng-init="find()">
    <div class="page-header">
        <h1><%= humanizedPluralName %></h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="<%= camelizedSingularName %> in <%= camelizedPluralName %>" data-ng-href="#!/<%= dasherizedPluralName %>/{{<%= camelizedSingularName %>._id}}" class="list-group-item">
            <small class="list-group-item-text">{{<%= camelizedSingularName %>.created | date:'medium'}} / {{<%= camelizedSingularName %>.user.displayName}}</small>
            <h4 class="list-group-item-heading">{{<%= camelizedSingularName %>.name}}</h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!<%= camelizedPluralName %> || <%= camelizedPluralName %>.length">
    	No <%= humanizedPluralName %> yet, why don't you <a href="/#!/<%= dasherizedPluralName %>/create">create one</a>?
    </div>
</section>