<section ng-controller="<%= capitalizedModuleName %>Controller" ng-init="findOne()">
  <div class="page-header">
    <h1 ng-bind="<%= moduleName %>.title"></h1>
  </div>
  <div class="pull-right" ng-show="authentication.user._id == <%= moduleName %>.user._id">
    <a class="btn btn-primary" ui-sref="<%= pluralModuleName %>.edit({<%= moduleName %>Id: <%= moduleName %>._id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="<%= moduleName %>.created | date:'mediumDate'"></span>
      by
      <span ng-bind="<%= moduleName %>.user.displayName"></span>
    </em>
  </small>
  <p class="lead" ng-bind="<%= moduleName %>.content"></p>
</section>
