.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

.page-header{padding:0;margin:0;}

table.detail-view,
table.list-view {
  margin-top: 26px;
}
.detail-view th {
  width: 160px;
}